<h2>Configurar Juego</h2>

<form asp-action="Comenzar" method="get" onsubmit="return validarConfig();">
    <label>Usuario:</label>
    <input type="text" name="username" id="username" required />

    <br />

    <label>Dificultad:</label>
    <select name="dificultad" id="dificultad" required>
        <option value="-1">Todas</option>
        @foreach (var dif in ViewBag.Dificultades)
        {
            <option value="@dif.IdDificultad">@dif.Nombre</option>
        }
    </select>

    <br />

    <label>Categoría:</label>
    <select name="categoria" id="categoria" required>
        <option value="-1">Todas</option>
        @foreach (var cat in ViewBag.Categorias)
        {
            <option value="@cat.IdCategoria">@cat.Nombre</option>
        }
    </select>

    <br />
    <button type="submit">Jugar</button>
</form>
<div id="resultado"></div>

<script>
    function validarConfig() {
        const nombre = document.getElementById("username").value.trim();
        const dif = document.getElementById("dificultad").value;
        const cat = document.getElementById("categoria").value;

        if (!nombre || dif === "" || cat === "") {
            mostrarResultado("Debes completar todos los campos.");
            return false;
        }
        mostrarResultado(`Jugador: ${nombre} - Dif: ${dif} - Cat: ${cat}`);
        return true;
    }
</script>
