<body class="menuBody">
@{
    ViewData["Title"] = "Inicio";
}

<div class="menu">
    <h1>Desafío Aleatorio</h1>
    <nav>
        <a class="btn btn-primary" href='@Url.Action("ConfigurarJuego")'>Configurar el juego</a>
    </nav>
</div>
</body>